<ion-view title="Choice 5" id="page14" style="background-color:#FFEEF2;">
  <ion-content padding="true" class="has-header">
    <div>
      <img id="image5" src="" style="display: block; width: 80%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="list card" id="choice5-card221"></div>
    <ion-list id="choice5-list14">
      <div class="item item-body" id="choice5-list-item-container31">
        <div id="choice5-markdown31" class="show-list-numbers-and-dots">
          <p id="explanation5" style="margin-top:0px;color:#3F474D;"></p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 30px;"></div>
    <div style="margin-right:-20px;">
      <a ui-sref="home()" id="choice5-button18" style="left:-10px;" class="button button-positive button-full">Home</a>
    </div>
  </ion-content>
</ion-view>