<ion-view title="Choice 2" id="page11" style="background-color:#FFEEF2;">
  <ion-content padding="true" class="has-header">
    <div>
      <img id="image2" src="" style="display: block; width: 80%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="list card" id="choice2-card218"></div>
    <ion-list id="choice2-list11">
      <div class="item item-body" id="choice2-list-item-container28">
        <div id="choice2-markdown28" class="show-list-numbers-and-dots">
          <p id="explanation2" style="margin-top:0px;color:#3F474D;"></p>
        </div>
      </div>
    </ion-list>
  </ion-content>
  <ion-footer-bar class="footer-bar" ui-sref="home()" onclick="clickbutton();" align-title="center">
    <h1 class="title">Home</h1>
  </ion-footer-bar>
</ion-view>