<ion-view title="Choice 5" id="page14" style="background-color:#FFEEF2;">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/EVzd5VgfSfaYxgsuRhTX_k25857412.jpg" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="list card" id="choice5-card221"></div>
    <ion-list id="choice5-list14">
      <div class="item item-body" id="choice5-list-item-container31">
        <div id="choice5-markdown31" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#3F474D;">While apology is a natural way to solve a conflict, a blank apology may seem insincere to the other person. Also, if you don’t know what you did, then Irene may get mad at you if you unintentionally do it again. The best solution would be to
            understand what she was offended by, and fix your mistake.</p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 30px;"></div>
    <div style="margin-right:-20px;">
      <a ui-sref="home()" id="choice5-button18" style="left:-10px;" class="button button-positive button-full">Home</a>
    </div>
  </ion-content>
</ion-view>