<ion-view title="Choice 4" id="page13" style="background-color:#FFEEF2;">
  <ion-content padding="true" class="has-header">
    <div>
      <img id="image4" src="" style="display: block; width: 80%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="list card" id="choice4-card220"></div>
    <ion-list id="choice4-list13">
      <div class="item item-body" id="choice4-list-item-container30">
        <div id="choice4-markdown30" class="show-list-numbers-and-dots">
          <p id="explanation4" style="margin-top:0px;color:#3F474D;"></p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 30px;"></div>
    <div style="margin-right:-20px;">
      <a ui-sref="home()" id="choice4-button17" style="left:-10px;" class="button button-positive button-full">Home</a>
    </div>
  </ion-content>
</ion-view>