<ion-view title="Choice 2" id="page11" style="background-color:#FFEEF2;">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/5Z1voYxyQdSxS7H0zSCu_.png" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="list card" id="choice2-card218"></div>
    <ion-list id="choice2-list11">
      <div class="item item-body" id="choice2-list-item-container28">
        <div id="choice2-markdown28" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#3F474D;">Demand is too strong of a command word towards a friend, especially when she is angry at you. She will feel threatened by you if you demand. Asking gently and politely for an explanation is a better way of communication. Option C: Ask Irene
            what’s bothering her.</p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 20px;"></div>
    <div style="margin-right:-20px;">
      <a ui-sref="home()" id="choice2-button15" style="left:-10px;" class="button button-positive button-full">Home</a>
    </div>
  </ion-content>
</ion-view>