<ion-view title="Choice 1" id="page5" style="background-color:#FFEEF2;">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/llq6RpKWTIaVWvEelJiu_angry-girl-clipart-lady-face-angry.svg" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="list card" id="choice1-card215"></div>
    <ion-list id="choice1-list10">
      <div class="item item-body" id="choice1-list-item-container27">
        <div id="choice1-markdown27" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#3F474D;">Ignoring a problem will not make it go away, and ignoring Irene will make her more angry. A good way is to politely ask her what is wrong, so that you can fix the problem before anything worse happens. Communication is essential for a good friendship,
            and this case is no exception. </p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 20px;"></div>
    <div style="margin-right:-20px;">
      <a ui-sref="home()" id="choice1-button7" style="left:-10px;" class="button button-positive button-full">Home</a>
    </div>
  </ion-content>
</ion-view>