<ion-view title="Choice 1" id="page5" style="background-color:#FFEEF2;">
  <ion-content padding="true" class="has-header">
    <div>
      <img id="image1" src="" style="display: block; width: 80%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="list card" id="choice1-card215"></div>
    <ion-list id="choice1-list10">
      <div class="item item-body" id="choice1-list-item-container27">
        <div id="choice1-markdown27" class="show-list-numbers-and-dots">
          <p id="explanation1" style="margin-top:0px;color:#3F474D;"></p>
        </div>
      </div>
    </ion-list>
  </ion-content>
  <ion-footer-bar class="footer-bar" ui-sref="home()" onclick="clickbutton();" align-title="center">
    <h1 class="title">Home</h1>
  </ion-footer-bar>
</ion-view>