<ion-view title="Choice 3" id="page12" style="background-color:#FFEEF2;">
  <ion-content padding="true" class="has-header">
    <div>
      <img id="image3" src="" style="display: block; width: 80%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="list card" id="choice3-card219"></div>
    <ion-list id="choice3-list12">
      <div class="item item-body" id="choice3-list-item-container29">
        <div id="choice3-markdown29" class="show-list-numbers-and-dots">
          <p id="explanation3" style="margin-top:0px;color:#3F474D;"></p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 20px;"></div>
    <div style="margin-right:-20px;">
      <a ui-sref="home()" id="choice3-button16" style="left:-10px;" class="button button-positive button-full">Home</a>
    </div>
  </ion-content>
</ion-view>