<ion-view title="Choose" id="page4" style="background-color:#FFEEF2;">
  <ion-content padding="true" class=" manual-remove-top-padding has-header">
    <div class="list card" id="choose-card212"></div>
    <div>
      <img src="img/cvUkrqTGQ1aMbT2nPLuu_8346744.jpeg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="list card" id="choose-card214"></div>
    <a class="list card" style="display:block;text-decoration:none;" ui-sref="choice1()" id="choose-card27">
      <div class="item item-body" id="choose-list-item-container22">
        <div id="choose-markdown18" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Leave Irene alone until she forgives you.</p>
        </div>
      </div>
    </a>
    <a class="list card" style="display:block;text-decoration:none;" ui-sref="choice2()" id="choose-card28">
      <div class="item item-body" id="choose-list-item-container23">
        <div id="choose-markdown19" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Demand an explanation.</p>
        </div>
      </div>
    </a>
    <a class="list card" style="display:block;text-decoration:none;" ui-sref="choice3()" id="choose-card29">
      <div class="item item-body" id="choose-list-item-container24">
        <div id="choose-markdown20" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Ask Irene what’s bothering her.</p>
        </div>
      </div>
    </a>
    <a class="list card" style="display:block;text-decoration:none;" ui-sref="choice4()" id="choose-card210">
      <div class="item item-body" id="choose-list-item-container25">
        <div id="choose-markdown24" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Behave normally around Irene and wait until she forgives you.</p>
        </div>
      </div>
    </a>
    <a class="list card" style="display:block;text-decoration:none;" ui-sref="choice5()" id="choose-card211">
      <div class="item item-body" id="choose-list-item-container26">
        <div id="choose-markdown25" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Apologize for what you did, even though you don’t know what it is.</p>
        </div>
      </div>
    </a>
  </ion-content>
</ion-view>