<ion-view title="Home" hide-back-button="true" id="page2" style="background-color:#FFEEF2;">
  <ion-nav-buttons side="right" scroll="false" class="has-header">
    <button class="button button-icon icon ion-ios-box-outline" ng-click="history()"></button>
  </ion-nav-buttons>
  <ion-content padding="false" class="manual-remove-top-padding has-header">
    <div>
      <img src="img/logo.png" style="display: block; width: 75%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 320px; height: 44px;"></div>
    <div>
      <img src="img/mascot.png" style="display: block; width: 65%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="width: 320px; height: 44px;"></div>
    <div id="home-button-bar1" class="button-bar">
      <a ui-sref="situation()" id="home-button23" class="button button-positive button-block">Start</a>
    </div>
  </ion-content>
</ion-view>